
@{
    ViewData["Title"] = "Home Page";
}
  <div class="row justify-content-center">
    <div class="col-5 Login_card">
        <h1 class="display-4">Autenticação</h1>
        <form action="/Login/Auth" method="post">
          <input type="text" value="" placeholder="Usuario" />
          <input type="password" value="" placeholder="Senha">
          <a href="#">Esqueceu Senha</a>
          <button>Login</button>
        </form>
        <a href="#">Criar Conta</a>
    </div>
  </div>